<div class="posts-div p-3">
    {{#each posts as |post|}}
    <div class="border border-2 border-black mb-2 rounded-2 m-4">
        <div class="p-3 mb-2 bg-black text-white d-flex justify-content-between">
            <h2 class="text-white font-monospace">
                {{post.title}}
            </h2>
            <div class="font-monospace">
                Posted by {{user.name}} on {{format_date post.date_created}}
            </div>
        </div>
        <p class="p-3 text-white font-monospace">
            {{post.content}}
        </p>
    </div>
    {{/each}}
</div>