html, body {
    height: 100%;
}

.post {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.post:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 1);
}

.post-author {
  font-size: 0.7rem;
}

.post-content {
  white-space: pre-wrap;
}

.tech-blog {
    box-shadow: 7px 7px gray;
}